html {
    background-color: rgb(1, 46, 119);
}

.logo {
    /* font-family:Brush Script MT, Brush Script Std, cursive; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px !important;
}

.navbarBg {
    background-color: rgb(20, 56, 108);
    min-height: 100vh;
    border-right: solid 2px;
    border-color: aliceblue;
}

/* .navbar-nav .nav-item .nav-link {
   color: white;
} */

.profileSettings {
    font-size: 160%;
}

.userAvatar{
max-width: 150px;
max-height: 150px;
}

.userBio{
    white-space: pre-line;
}

.active {
    font-weight: bold;
}

.bodyBg {
    background-color: rgba(3, 105, 183, 0.844);
    background: linear-gradient(#1689e2d7, rgba(2, 28, 79, 0.844));
    min-height: 100vh;
}

.loginBttn {
    white-space: nowrap;
}

.logOutBttn {
    white-space: nowrap;
}

/* .diveCard {
    background-color: rgba(237, 249, 255, 0.661);
} */

.username {
    padding-top: 1rem !important;
}

.diveText {
    text-decoration: none;
    color: slategray;
}

.diveText:hover {
    color: slategray;
}

.logOutBttn {
    margin-top: 2rem;
}

.customDatePicker {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.customTimePicker {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.diveForm {
    background-color: rgba(208, 226, 255);
    padding: 1.5rem;
    border-radius: 6px;
    color: rgba(0, 60, 157);
}

.formBorders {
    /* border-style: dashed; */
    border-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1rem;
    background-color: rgba(240, 248, 255, 0.555);
}

.userInfo {
    background-color: rgba(208, 226, 255);
    margin: 1rem;
    border-radius: 6px;
    color: rgba(0, 60, 157);
    padding: 1rem;
}

.userDetails{
    width: 100%;
}

.diveDetails {
    background-color: rgba(208, 226, 255);
    margin: 1rem;
    border-radius: 6px;
    color: rgba(0, 60, 157);
}

.diveStats {
    display: flex;
    align-items: baseline;
}

.diveStatsAquatic {
    display: flex;
    align-items: baseline;
}

.aquaticLife {
    white-space: nowrap;
}

.diveStats h6 {
    padding-right: 0.5rem;
    font-weight: bolder;
    font-size: smaller;
}

.diveStatsAquatic h6 {
    padding-right: 0.5rem;
    font-weight: bolder;
    font-size: smaller;
}

.diveStatsFlex {
    display: flex;
    justify-content: space-evenly;
}

.diveDescription {
    white-space: pre-line;
}


.star {
    cursor: pointer;
    transition: color 150ms;
}

.starRating {
    text-align: center;
    /* background-color: #97cdf6c0; */
}

input[type="radio"] {
    display: none;
}

/* these stars are the ones from the DiveRating */
.star-rating {
    font-size: 24px;
}

.star-filled {
    color: #ffc107;
}

.star-empty {
    color: #97cdf6c0;
}

/*  */


.postAuthor {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.postAuthor:hover {
    color: white;
    text-decoration: underline;
}


@media screen and (max-width: 950px) {
    .diveDetailsLocation {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 950px) {
    .diveStatsFlex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    .navbarBg {
        min-height: auto;
        border-right: none;
        border-bottom: solid 2px;
        border-color: aliceblue;
    }

    /* .bodyBg {
        min-height:100vh;
    } */

    .toggleBttn {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }

    /* .diveStatsAquatic{
        display: flex;
        flex-direction: column;
    } */
}

@media screen and (max-width: 850px) {
    .diveStatsAquatic {
        display: flex;
        flex-direction: column;
    }
}